  body{
    background-color: rgba(232, 194, 81, 0.112);
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
  }
  .header-div {
    height: 22vh;
    background-image: url(/images/headerimg.jpg);
    background-size: cover;
    background-position-y: center;
    text-align: center;
    
  }
  .container-style {
    margin-bottom: 10vh;
    margin-top: 1vh;
    
  }
  .container.nav-inside { 
    display: flex;
    justify-content: space-between;
    margin-bottom: -13vh;
    color: #000000;
    background-color: rgba(101, 100, 100, 0.516);
  }
  .logo-pic{
    display: block;
    background-color: #dda24b;
    height: 90px;
    width: 176px;
  }
  a {
    color: #000000;
    text-decoration: none;

  }
  
  .contact-links{
    font-size: large;
    color: rgb(114, 95, 216);
  }
  .side-pic{
    background-image: url(/images/morocco.webp);
    height: 100vh;
    width: 100vh;
  }

  #text-div{
    margin-left: 65px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .footer-div {
    min-height: 10vh;
    background-color: rgba(101, 100, 100, 0.516);
    text-align: center;

  }
  .fa-footer{
      font-size: large;
  }
  .dropdown{
    color: rgba(232, 194, 81, 0.112);
  }
  
    
  
  
@media screen  and (max-width:600px) {
    .side-pic{
      display: none;
      
    }  
    a {
      color: #000000;
      text-decoration: none;
      font-size: x-small;
    }
    
    
  .footer-div {
      min-height: 10vh;
      background-color: rgba(101, 100, 100, 0.516);
      text-align: center;
      position: sticky;
    
  }
  .fa-footer{
      font-size: large;
  }
  
  
  .dropdown{
    color: black;
  }
  .dropdown-menu{
    
    position: absolute;
    background-color: rgb(101, 100, 100);
    min-width: 5vh;
    padding: 2vh 1vh;
    z-index: 1;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
   .container.nav-inside{
     display: none;
   }
   .logo-pic{
     margin-right: 110px;
   }



  
}
  
  
