body{
    background-color: rgba(232, 194, 81, 0.112);
    font-family: 'Open Sans', sans-serif;
  }

.fa-style{
    font-size:xx-large;
    color: black; 
}

.fa:hover{
    color: red;
}
.thumbnail{
    filter: blur(3px);
}
.thumbnail:hover{
    filter: blur(0px);
}
img{
    width:95%;
    transition: width 3s;
}
img:hover{
    width: 105%; 
}

.header-div {
    height: 22vh;
    background-image: url(/images/headerimg.jpg);
    background-size: cover;
    background-position-y: center;
    text-align: center;
    filter: opacity(90%);
  }
  .container-style {
    margin-bottom: 10vh;
    margin-top: 1vh;
    text-align: center;
  }
  .container.nav-inside { 
    display: flex;
    justify-content: space-between;
    margin-bottom: -13vh;
    color: #000000;
    background-color: rgba(101, 100, 100, 0.516);
  }
  a {
    color: #000000;
    text-decoration: none;
    font-size: large;
  }
  


.footer-div {
    min-height: 10vh;
    background-color: rgba(101, 100, 100, 0.516);
    text-align: center;

}
.fa-footer{
    font-size: large;
}
@media screen and (max-width: 600px) {
    .footer-div {
        min-height: 10vh;
        background-color: rgba(101, 100, 100, 0.516);
        text-align: center;
        position: sticky;
    
    }
}