:root


.header-div {
    height: 20vh;
    background-image: url(/images/headerimg.jpg);
    background-size: cover;
    background-position-y: center;
    text-align: center;
    filter: opacity(90%);
  }
.container.nav-inside { 
      display: flex;
      justify-content: space-between;
      font-size: xx-large;
      margin-bottom: -13vh;
      color: #000000;
  }
a {
    color: #000000;
    text-decoration: none;
    font-size: xx-large;
  }

.container-style {
    margin-bottom: 10vh;
    margin-top: 2vh;
    background-color: rgba(232, 194, 81, 0.112);
    text-align: center;
    height: 70vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }

.img-globe{
    
    width: 25vh;
    height: 30vh;
    position: absolute;
    animation-duration: 5s;
    animation-name: globe-pic;
    transform: rotate(360deg);
    z-index: 1;
    margin-bottom: 5vh;
    filter: drop-shadow(10px 10px 10px rgba(8, 49, 75, 0.758));
}
    

.img-style-personal{
    width: 25vh;
    height: 30vh;
    position: absolute;
    animation-duration: 5s;
    animation-name: per-pic;
    transform: rotate(360deg);
    filter: opacity(0);
    z-index: 2;
    margin-bottom: 5vh;
    
    
}
@keyframes globe-pic {
    from{transform: rotateY(0);}
    to{transform: rotateY(360deg);}
}
@keyframes per-pic {
    from{transform: rotateY(0); filter: opacity(0);}
    to{transform: rotateY(360deg); filter: opacity(100);}
}
.col-style{
    margin-top:45vh;
    border: 2px solid black;
    border-radius: 10px;

}


.footer-div {
    min-height: 10vh;
    background-color: rgba(101, 100, 100, 0.516);
    text-align: center;

}
.fa-footer{
    font-size: large;
}
@media screen and (max-width: 600px) {
    .footer-div {
        min-height: 10vh;
        background-color: rgba(101, 100, 100, 0.516);
        text-align: center;
        position: sticky;
    
    }
}