.footer-div {
    min-height: 10vh;
    background-color: rgba(101, 100, 100, 0.516);
    text-align: center;

}
.fa-footer{
    font-size: large;
}
@media screen and (max-width: 600px) {
    .footer-div {
        min-height: 10vh;
        background-color: rgba(101, 100, 100, 0.516);
        text-align: center;
        position: sticky;
    
    }
}