.header-div {
  height: 20vh;
  background-image: url(images/headerimg.jpg);
  background-size: cover;
  background-position-y: center;
  text-align: center;
  filter: opacity(40%);
}
.container-style {
  margin-bottom: 12vh;
  margin-top: 10vh;
  text-align: center;
}
 .container.nav-inside { 
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    margin-bottom: -13vh;
<<<<<<< HEAD
    color: #000000;
=======
    color: #000000;  
>>>>>>> af807316d88c6f008ac415bac31c140d1811f558
}
a {
  color: #000000;

  text-decoration: none;
  font-size: xx-large;
}

.footer-div {
  height: 10vh;
  background-color: rgba(101, 100, 100, 0.516);
}
#back1{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
    filter: blur(3px);
}
#list-of-Countries{
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color:rgba(232, 194, 81, 0.112);
}

   
   

@keyframes main{
    0%{
      background-image: url(images/back1.jpg);
      }
    30%{
      background-image: url(images/back2.jpg);
      }
    60%{
      background-image: url(images/back3.jpg);
      }
    100%{
      background-image: url(images/back4.jpg);
      }
}
.main-div{
  background-image: url(images/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 8
  0vh;
  animation-name:main;
  animation-duration:30s;
  animation-iteration-count: infinite;
  font-size: xx-large;
  font-weight: 200px;
}
.main-text{
  font-size: 8vh;
    margin: 65px;
    
}

@media screen and (max-width:600px) {
    a{
        font-size: small;
    }
    .main-text{
      margin-right: 60px;
      font-size: 3vh;

    }
}
