.header-div {
  height: 20vh;
  background-image: url(images/headerimg.jpg);
  background-size: cover;
  background-position-y: center;
  text-align: center;
  filter: opacity(40%);
}
.container-style {
  margin-bottom: 12vh;
  margin-top: 10vh;
  text-align: center;
}
 .container.nav-inside { 
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    margin-bottom: -13vh;
    color: #000000;
    

    
}
a {
  color: #000000;

  text-decoration: none;
  font-size: xx-large;
}
.home-style {
  height: 100%;
  width: 100%;
  background-color: black;
}

.footer-div {
  height: 10vh;
  background-color: rgba(101, 100, 100, 0.516);
}
